body,
h1,
h2,
ul {
  margin: 0;
  padding: 0;
}

.main-container {
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
}

nav {
  width: 98%;
  height: 60px;
  background: #3c3a39;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.main-navbar-logo {
  list-style: none;
  display: flex;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  color: #fff;
}

.main-navbar-menu {
  padding-right: 50px;
}

.section-header-box {
  background-size: 256px;
  height: 600px;
  width: 100%;
  background-color: #1c1a19;
  display: flex;
  background-repeat: no-repeat;
  background-position: bottom right -110px;
  background-image: url("./images/header-illustration.png");
}

.section-header-content {
  width: 327px;
  margin: 122px 22px;
}

.section-header-title {
  display: flex;
  width: 327px;
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 64px;
  color: #ff6b00;
}

.section-header-subtitle {
  display: flex;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
}

.section-header-text-description {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.social-media-link {
  margin-top: 20px;
  top: 268px;
  left: 40px;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.social-media {
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.fix {
  margin-top: 15px;
  padding: 0 10px;
}

.whole-middle-section {
  display: grid;
  grid-template-rows: auto auto auto;
  margin: 0 20px;
  width: 375px;
  row-gap: 30px;
}

.recent-work {
  width: 327px;
  height: 83px;
  display: flex;
  justify-content: center;
  margin: 24px 0;
  align-items: center;
}

.recent-work-content {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  height: 83px;
  border-bottom: 1px solid #212121;
}

.section-bg {
  /* background-color: green; */
  width: 327px;
  height: 237px;
  margin: 0 0;
}

.bg {
  background-size: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  background-repeat: no-repeat;
  background-image: url(./images/bg.png);
}

.multi-post {
  display: inline-flex;
  align-items: center;
}

.multipost-content {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #091e42;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.paragraph-box {
  margin: 5px 0;
  margin-bottom: 0;
  width: 327px;
}

.paragraph {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
}

.languages {
  width: 300px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.btn {
  /* margin: 0 20px; */

  height: 40px;
  padding: 10px 12px;
  background: #fff;
  border: 1px solid #8993a4;
  box-sizing: border-box;
}

.btn-pink {
  margin: 12px 0;
  width: 130px;
  height: 48px;
  background: #ff6b00;
  align-items: center;
  padding: 12px;
  color: #fff;
  border: 1px solid #ff6b00;
  display: flex;
  text-align: center;
  letter-spacing: 0.03em;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.image {
  width: 375px;
  height: 386px;
  margin: 20px 0;
  text-align: center;
}

.content-on-image-section {
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 50px;
}

.background-image {
  background-color: green;
  width: 327px;
  height: 386px;
}

.image-content {
  background-image: url(./images/bg2.png);
  background-size: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  background-repeat: no-repeat;

  /* align-items: center; */
  justify-content: center;
}

.image-cont-holder {
  /* width: 295px; */

  /* height:1000px;  Come back here */

  /* background-color: green; */
}

.image-h1 {
  width: 295px;
  margin: 0 20px;
  color: #fff;
  margin-top: 80px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
}

.para {
  margin: 0 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.languages-2 {
  /* width: 230px;
height: 40px;
display: flex;
justify-content: space-between;
margin: 3px 20px;
list-style: none; */

  width: 230px;
  height: 40px;
  display: flex;
  margin: 3px 20px;
  justify-content: space-between;
  list-style: none;
  align-items: center;

  /* justify-content: center; */
}

/* .button-sse-proj{
  width: 100%;
  width: 327px;
height: 48px;

background-color: green;
} */

.btn-lang {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  padding: 8px;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  background: rgba(255, 255, 255, 0.24);
  border: 1px solid rgba(255, 255, 255, 0.24);
  color: #fff;
}

.see-pro {
  display: flex;
  background-color: green;
  justify-content: center;
  align-items: center;
}

.see-project {
  color: #fff;
  background-color: #ff6b00;
  border: 1px solid #ff6b00;
  margin: 0 5px;
  border-radius: 0;
  margin-top: 30px;
  width: 327px;
  height: 48px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.about-me {
  display: grid;
  grid-template-rows: auto auto auto;
  margin-top: 70px;
  background-color: #1c1a19;
}

.about-me-page {
  /* border-bottom: 5px solid  #1c1a19; */
  background-size: 40%;
  height: 600px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom right -60px;
  background-image: url("./images/Frame.png");
}

.about-me-all {
  display: grid;
  margin: 80px 20px;

  /* border: 1px solid green; */
  grid-template-rows: auto;
  margin-right: 80px;
  align-items: center;
  align-content: center;
}

.about-me-h1 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.about-me-para {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.about-me-para-div {
  /* padding: -80px; */
  margin-right: 50px;

  /* display: inline-flex; */
}

.get-resume-div {
  width: 137px;
  height: 24px;
  display: flex;
  align-items: center;
  text-align: center;

  /* margin-top: 20px; */
}

.get-resume {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  width: 137px;
  font-size: 17px;
  background-color: #ff6b00;
  color: #fff;
  border-radius: 0;
  letter-spacing: 0.03em;
  border: 1px solid #ff6b00;
}

.languages-framework-skills {
  display: flex;
  width: 450px;
  background-color: #1c1a19;
  justify-content: center;
}

.general {
  /* align-items: center; */
  justify-content: center;
  text-align: center;
  padding-top: 400px;
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  color: #fff;
}

#general:first-child {
  list-style-image: url(./images/rotate.png);
}

/* ol:nth-child(2){
  list-style-image: url(./images/rectangle.png);
} */

ol:last-child {
  list-style-image: url(./images/circle.pn);
}

.gen {
  list-style: none;
  text-align: center;
  padding: 20px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
}

.my-interest {
  width: 500px;
  height: 216px;

  /* background-color: green; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-interest-h1 {
  padding: 60px;
  margin: 0 30px 0 30px;
  margin-top: 200px;
  color: #172b4d;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
}
